[req]
default_bits = 2048
prompt = no
default_md = sha256
req_extensions = req_ext
distinguished_name = dn

[ dn ]
C=IT
ST=Italy
L=Turin
O=vsomeip
OU=None
emailAddress=None
CN=authentication

[ req_ext ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]
URI.001 = vsomeip:0001:0x0001/offer=authentication
URI.002 = vsomeip:0002:0x0001/offer=authentication
URI.003 = vsomeip:0003:0x0001/offer=authentication
URI.004 = vsomeip:0004:0x0001/offer=authentication
URI.005 = vsomeip:0005:0x0001/offer=authentication
URI.006 = vsomeip:0006:0x0001/offer=authentication
URI.007 = vsomeip:0007:0x0001/offer=authentication
URI.008 = vsomeip:0008:0x0001/offer=authentication
URI.009 = vsomeip:0009:0x0001/offer=authentication
URI.010 = vsomeip:0010:0x0001/offer=authentication
URI.011 = vsomeip:0011:0x0001/offer=authentication
URI.012 = vsomeip:0012:0x0001/offer=authentication
URI.013 = vsomeip:0013:0x0001/offer=authentication
URI.014 = vsomeip:0014:0x0001/offer=authentication
URI.015 = vsomeip:0015:0x0001/offer=authentication
URI.016 = vsomeip:0016:0x0001/offer=authentication
URI.017 = vsomeip:0017:0x0001/offer=authentication
URI.018 = vsomeip:0018:0x0001/offer=authentication
URI.019 = vsomeip:0019:0x0001/offer=authentication
URI.020 = vsomeip:0020:0x0001/offer=authentication
URI.021 = vsomeip:0021:0x0001/offer=authentication
URI.022 = vsomeip:0022:0x0001/offer=authentication
URI.023 = vsomeip:0023:0x0001/offer=authentication
URI.024 = vsomeip:0024:0x0001/offer=authentication
URI.025 = vsomeip:0025:0x0001/offer=authentication
URI.026 = vsomeip:0026:0x0001/offer=authentication
URI.027 = vsomeip:0027:0x0001/offer=authentication
URI.028 = vsomeip:0028:0x0001/offer=authentication
URI.029 = vsomeip:0029:0x0001/offer=authentication
URI.030 = vsomeip:0030:0x0001/offer=authentication
URI.031 = vsomeip:0031:0x0001/offer=authentication
URI.032 = vsomeip:0032:0x0001/offer=authentication
URI.033 = vsomeip:0033:0x0001/offer=authentication
URI.034 = vsomeip:0034:0x0001/offer=authentication
URI.035 = vsomeip:0035:0x0001/offer=authentication
URI.036 = vsomeip:0036:0x0001/offer=authentication
URI.037 = vsomeip:0037:0x0001/offer=authentication
URI.038 = vsomeip:0038:0x0001/offer=authentication
URI.039 = vsomeip:0039:0x0001/offer=authentication
URI.040 = vsomeip:0040:0x0001/offer=authentication
URI.041 = vsomeip:0041:0x0001/offer=authentication
URI.042 = vsomeip:0042:0x0001/offer=authentication
URI.043 = vsomeip:0043:0x0001/offer=authentication
URI.044 = vsomeip:0044:0x0001/offer=authentication
URI.045 = vsomeip:0045:0x0001/offer=authentication
URI.046 = vsomeip:0046:0x0001/offer=authentication
URI.047 = vsomeip:0047:0x0001/offer=authentication
URI.048 = vsomeip:0048:0x0001/offer=authentication
URI.049 = vsomeip:0049:0x0001/offer=authentication
URI.050 = vsomeip:0050:0x0001/offer=authentication
URI.051 = vsomeip:0051:0x0001/offer=authentication
URI.052 = vsomeip:0052:0x0001/offer=authentication
URI.053 = vsomeip:0053:0x0001/offer=authentication
URI.054 = vsomeip:0054:0x0001/offer=authentication
URI.055 = vsomeip:0055:0x0001/offer=authentication
URI.056 = vsomeip:0056:0x0001/offer=authentication
URI.057 = vsomeip:0057:0x0001/offer=authentication
URI.058 = vsomeip:0058:0x0001/offer=authentication
URI.059 = vsomeip:0059:0x0001/offer=authentication
URI.060 = vsomeip:0060:0x0001/offer=authentication
URI.061 = vsomeip:0061:0x0001/offer=authentication
URI.062 = vsomeip:0062:0x0001/offer=authentication
URI.063 = vsomeip:0063:0x0001/offer=authentication
URI.064 = vsomeip:0064:0x0001/offer=authentication
URI.065 = vsomeip:0065:0x0001/offer=authentication
URI.066 = vsomeip:0066:0x0001/offer=authentication
URI.067 = vsomeip:0067:0x0001/offer=authentication
URI.068 = vsomeip:0068:0x0001/offer=authentication
URI.069 = vsomeip:0069:0x0001/offer=authentication
URI.070 = vsomeip:0070:0x0001/offer=authentication
URI.071 = vsomeip:0071:0x0001/offer=authentication
URI.072 = vsomeip:0072:0x0001/offer=authentication
URI.073 = vsomeip:0073:0x0001/offer=authentication
URI.074 = vsomeip:0074:0x0001/offer=authentication
URI.075 = vsomeip:0075:0x0001/offer=authentication
URI.076 = vsomeip:0076:0x0001/offer=authentication
URI.077 = vsomeip:0077:0x0001/offer=authentication
URI.078 = vsomeip:0078:0x0001/offer=authentication
URI.079 = vsomeip:0079:0x0001/offer=authentication
URI.080 = vsomeip:0080:0x0001/offer=authentication
URI.081 = vsomeip:0081:0x0001/offer=authentication
URI.082 = vsomeip:0082:0x0001/offer=authentication
URI.083 = vsomeip:0083:0x0001/offer=authentication
URI.084 = vsomeip:0084:0x0001/offer=authentication
URI.085 = vsomeip:0085:0x0001/offer=authentication
URI.086 = vsomeip:0086:0x0001/offer=authentication
URI.087 = vsomeip:0087:0x0001/offer=authentication
URI.088 = vsomeip:0088:0x0001/offer=authentication
URI.089 = vsomeip:0089:0x0001/offer=authentication
URI.090 = vsomeip:0090:0x0001/offer=authentication
URI.091 = vsomeip:0091:0x0001/offer=authentication
URI.092 = vsomeip:0092:0x0001/offer=authentication
URI.093 = vsomeip:0093:0x0001/offer=authentication
URI.094 = vsomeip:0094:0x0001/offer=authentication
URI.095 = vsomeip:0095:0x0001/offer=authentication
URI.096 = vsomeip:0096:0x0001/offer=authentication
URI.097 = vsomeip:0097:0x0001/offer=authentication
URI.098 = vsomeip:0098:0x0001/offer=authentication
URI.099 = vsomeip:0099:0x0001/offer=authentication
URI.100 = vsomeip:0100:0x0001/offer=authentication
URI.101 = vsomeip:0101:0x0001/offer=authentication
URI.102 = vsomeip:0102:0x0001/offer=authentication
URI.103 = vsomeip:0103:0x0001/offer=authentication
URI.104 = vsomeip:0104:0x0001/offer=authentication
URI.105 = vsomeip:0105:0x0001/offer=authentication
URI.106 = vsomeip:0106:0x0001/offer=authentication
URI.107 = vsomeip:0107:0x0001/offer=authentication
URI.108 = vsomeip:0108:0x0001/offer=authentication
URI.109 = vsomeip:0109:0x0001/offer=authentication
URI.110 = vsomeip:0110:0x0001/offer=authentication
URI.111 = vsomeip:0111:0x0001/offer=authentication
URI.112 = vsomeip:0112:0x0001/offer=authentication
URI.113 = vsomeip:0113:0x0001/offer=authentication
URI.114 = vsomeip:0114:0x0001/offer=authentication
URI.115 = vsomeip:0115:0x0001/offer=authentication
URI.116 = vsomeip:0116:0x0001/offer=authentication
URI.117 = vsomeip:0117:0x0001/offer=authentication
URI.118 = vsomeip:0118:0x0001/offer=authentication
URI.119 = vsomeip:0119:0x0001/offer=authentication
URI.120 = vsomeip:0120:0x0001/offer=authentication
URI.121 = vsomeip:0121:0x0001/offer=authentication
URI.122 = vsomeip:0122:0x0001/offer=authentication
URI.123 = vsomeip:0123:0x0001/offer=authentication
URI.124 = vsomeip:0124:0x0001/offer=authentication
URI.125 = vsomeip:0125:0x0001/offer=authentication
URI.126 = vsomeip:0126:0x0001/offer=authentication
URI.127 = vsomeip:0127:0x0001/offer=authentication
URI.128 = vsomeip:0128:0x0001/offer=authentication
URI.129 = vsomeip:0129:0x0001/offer=authentication
URI.130 = vsomeip:0130:0x0001/offer=authentication
URI.131 = vsomeip:0131:0x0001/offer=authentication
URI.132 = vsomeip:0132:0x0001/offer=authentication
URI.133 = vsomeip:0133:0x0001/offer=authentication
URI.134 = vsomeip:0134:0x0001/offer=authentication
URI.135 = vsomeip:0135:0x0001/offer=authentication
URI.136 = vsomeip:0136:0x0001/offer=authentication
URI.137 = vsomeip:0137:0x0001/offer=authentication
URI.138 = vsomeip:0138:0x0001/offer=authentication
URI.139 = vsomeip:0139:0x0001/offer=authentication
URI.140 = vsomeip:0140:0x0001/offer=authentication
URI.141 = vsomeip:0141:0x0001/offer=authentication
URI.142 = vsomeip:0142:0x0001/offer=authentication
URI.143 = vsomeip:0143:0x0001/offer=authentication
URI.144 = vsomeip:0144:0x0001/offer=authentication
URI.145 = vsomeip:0145:0x0001/offer=authentication
URI.146 = vsomeip:0146:0x0001/offer=authentication
URI.147 = vsomeip:0147:0x0001/offer=authentication
URI.148 = vsomeip:0148:0x0001/offer=authentication
URI.149 = vsomeip:0149:0x0001/offer=authentication
URI.150 = vsomeip:0150:0x0001/offer=authentication
URI.151 = vsomeip:0151:0x0001/offer=authentication
URI.152 = vsomeip:0152:0x0001/offer=authentication
URI.153 = vsomeip:0153:0x0001/offer=authentication
URI.154 = vsomeip:0154:0x0001/offer=authentication
URI.155 = vsomeip:0155:0x0001/offer=authentication
URI.156 = vsomeip:0156:0x0001/offer=authentication
URI.157 = vsomeip:0157:0x0001/offer=authentication
URI.158 = vsomeip:0158:0x0001/offer=authentication
URI.159 = vsomeip:0159:0x0001/offer=authentication
URI.160 = vsomeip:0160:0x0001/offer=authentication
URI.161 = vsomeip:0161:0x0001/offer=authentication
URI.162 = vsomeip:0162:0x0001/offer=authentication
URI.163 = vsomeip:0163:0x0001/offer=authentication
URI.164 = vsomeip:0164:0x0001/offer=authentication
URI.165 = vsomeip:0165:0x0001/offer=authentication
URI.166 = vsomeip:0166:0x0001/offer=authentication
URI.167 = vsomeip:0167:0x0001/offer=authentication
URI.168 = vsomeip:0168:0x0001/offer=authentication
URI.169 = vsomeip:0169:0x0001/offer=authentication
URI.170 = vsomeip:0170:0x0001/offer=authentication
URI.171 = vsomeip:0171:0x0001/offer=authentication
URI.172 = vsomeip:0172:0x0001/offer=authentication
URI.173 = vsomeip:0173:0x0001/offer=authentication
URI.174 = vsomeip:0174:0x0001/offer=authentication
URI.175 = vsomeip:0175:0x0001/offer=authentication
URI.176 = vsomeip:0176:0x0001/offer=authentication
URI.177 = vsomeip:0177:0x0001/offer=authentication
URI.178 = vsomeip:0178:0x0001/offer=authentication
URI.179 = vsomeip:0179:0x0001/offer=authentication
URI.180 = vsomeip:0180:0x0001/offer=authentication
URI.181 = vsomeip:0181:0x0001/offer=authentication
URI.182 = vsomeip:0182:0x0001/offer=authentication
URI.183 = vsomeip:0183:0x0001/offer=authentication
URI.184 = vsomeip:0184:0x0001/offer=authentication
URI.185 = vsomeip:0185:0x0001/offer=authentication
URI.186 = vsomeip:0186:0x0001/offer=authentication
URI.187 = vsomeip:0187:0x0001/offer=authentication
URI.188 = vsomeip:0188:0x0001/offer=authentication
URI.189 = vsomeip:0189:0x0001/offer=authentication
URI.190 = vsomeip:0190:0x0001/offer=authentication
URI.191 = vsomeip:0191:0x0001/offer=authentication
URI.192 = vsomeip:0192:0x0001/offer=authentication
URI.193 = vsomeip:0193:0x0001/offer=authentication
URI.194 = vsomeip:0194:0x0001/offer=authentication
URI.195 = vsomeip:0195:0x0001/offer=authentication
URI.196 = vsomeip:0196:0x0001/offer=authentication
URI.197 = vsomeip:0197:0x0001/offer=authentication
URI.198 = vsomeip:0198:0x0001/offer=authentication
URI.199 = vsomeip:0199:0x0001/offer=authentication
URI.200 = vsomeip:0200:0x0001/offer=authentication
URI.201 = vsomeip:0201:0x0001/offer=authentication
URI.202 = vsomeip:0202:0x0001/offer=authentication
URI.203 = vsomeip:0203:0x0001/offer=authentication
URI.204 = vsomeip:0204:0x0001/offer=authentication
URI.205 = vsomeip:0205:0x0001/offer=authentication
URI.206 = vsomeip:0206:0x0001/offer=authentication
URI.207 = vsomeip:0207:0x0001/offer=authentication
URI.208 = vsomeip:0208:0x0001/offer=authentication
URI.209 = vsomeip:0209:0x0001/offer=authentication
URI.210 = vsomeip:0210:0x0001/offer=authentication
URI.211 = vsomeip:0211:0x0001/offer=authentication
URI.212 = vsomeip:0212:0x0001/offer=authentication
URI.213 = vsomeip:0213:0x0001/offer=authentication
URI.214 = vsomeip:0214:0x0001/offer=authentication
URI.215 = vsomeip:0215:0x0001/offer=authentication
URI.216 = vsomeip:0216:0x0001/offer=authentication
URI.217 = vsomeip:0217:0x0001/offer=authentication
URI.218 = vsomeip:0218:0x0001/offer=authentication
URI.219 = vsomeip:0219:0x0001/offer=authentication
URI.220 = vsomeip:0220:0x0001/offer=authentication
URI.221 = vsomeip:0221:0x0001/offer=authentication
URI.222 = vsomeip:0222:0x0001/offer=authentication
URI.223 = vsomeip:0223:0x0001/offer=authentication
URI.224 = vsomeip:0224:0x0001/offer=authentication
URI.225 = vsomeip:0225:0x0001/offer=authentication
URI.226 = vsomeip:0226:0x0001/offer=authentication
URI.227 = vsomeip:0227:0x0001/offer=authentication
URI.228 = vsomeip:0228:0x0001/offer=authentication
URI.229 = vsomeip:0229:0x0001/offer=authentication
URI.230 = vsomeip:0230:0x0001/offer=authentication
URI.231 = vsomeip:0231:0x0001/offer=authentication
URI.232 = vsomeip:0232:0x0001/offer=authentication
URI.233 = vsomeip:0233:0x0001/offer=authentication
URI.234 = vsomeip:0234:0x0001/offer=authentication
URI.235 = vsomeip:0235:0x0001/offer=authentication
URI.236 = vsomeip:0236:0x0001/offer=authentication
URI.237 = vsomeip:0237:0x0001/offer=authentication
URI.238 = vsomeip:0238:0x0001/offer=authentication
URI.239 = vsomeip:0239:0x0001/offer=authentication
URI.240 = vsomeip:0240:0x0001/offer=authentication
URI.241 = vsomeip:0241:0x0001/offer=authentication
URI.242 = vsomeip:0242:0x0001/offer=authentication
URI.243 = vsomeip:0243:0x0001/offer=authentication
URI.244 = vsomeip:0244:0x0001/offer=authentication
URI.245 = vsomeip:0245:0x0001/offer=authentication
URI.246 = vsomeip:0246:0x0001/offer=authentication
URI.247 = vsomeip:0247:0x0001/offer=authentication
URI.248 = vsomeip:0248:0x0001/offer=authentication
URI.249 = vsomeip:0249:0x0001/offer=authentication
URI.250 = vsomeip:0250:0x0001/offer=authentication
URI.251 = vsomeip:0251:0x0001/offer=authentication
URI.252 = vsomeip:0252:0x0001/offer=authentication
URI.253 = vsomeip:0253:0x0001/offer=authentication
URI.254 = vsomeip:0254:0x0001/offer=authentication
URI.255 = vsomeip:0255:0x0001/offer=authentication
URI.256 = vsomeip:0256:0x0001/offer=authentication
URI.257 = vsomeip:0257:0x0001/offer=authentication
URI.258 = vsomeip:0258:0x0001/offer=authentication
URI.259 = vsomeip:0259:0x0001/offer=authentication
URI.260 = vsomeip:0260:0x0001/offer=authentication
URI.261 = vsomeip:0261:0x0001/offer=authentication
URI.262 = vsomeip:0262:0x0001/offer=authentication
URI.263 = vsomeip:0263:0x0001/offer=authentication
URI.264 = vsomeip:0264:0x0001/offer=authentication
URI.265 = vsomeip:0265:0x0001/offer=authentication
URI.266 = vsomeip:0266:0x0001/offer=authentication
URI.267 = vsomeip:0267:0x0001/offer=authentication
URI.268 = vsomeip:0268:0x0001/offer=authentication
URI.269 = vsomeip:0269:0x0001/offer=authentication
URI.270 = vsomeip:0270:0x0001/offer=authentication
URI.271 = vsomeip:0271:0x0001/offer=authentication
URI.272 = vsomeip:0272:0x0001/offer=authentication
URI.273 = vsomeip:0273:0x0001/offer=authentication
URI.274 = vsomeip:0274:0x0001/offer=authentication
URI.275 = vsomeip:0275:0x0001/offer=authentication
URI.276 = vsomeip:0276:0x0001/offer=authentication
URI.277 = vsomeip:0277:0x0001/offer=authentication
URI.278 = vsomeip:0278:0x0001/offer=authentication
URI.279 = vsomeip:0279:0x0001/offer=authentication
URI.280 = vsomeip:0280:0x0001/offer=authentication
URI.281 = vsomeip:0281:0x0001/offer=authentication
URI.282 = vsomeip:0282:0x0001/offer=authentication
URI.283 = vsomeip:0283:0x0001/offer=authentication
URI.284 = vsomeip:0284:0x0001/offer=authentication
URI.285 = vsomeip:0285:0x0001/offer=authentication
URI.286 = vsomeip:0286:0x0001/offer=authentication
URI.287 = vsomeip:0287:0x0001/offer=authentication
URI.288 = vsomeip:0288:0x0001/offer=authentication
URI.289 = vsomeip:0289:0x0001/offer=authentication
URI.290 = vsomeip:0290:0x0001/offer=authentication
URI.291 = vsomeip:0291:0x0001/offer=authentication
URI.292 = vsomeip:0292:0x0001/offer=authentication
URI.293 = vsomeip:0293:0x0001/offer=authentication
URI.294 = vsomeip:0294:0x0001/offer=authentication
URI.295 = vsomeip:0295:0x0001/offer=authentication
URI.296 = vsomeip:0296:0x0001/offer=authentication
URI.297 = vsomeip:0297:0x0001/offer=authentication
URI.298 = vsomeip:0298:0x0001/offer=authentication
URI.299 = vsomeip:0299:0x0001/offer=authentication
URI.300 = vsomeip:0300:0x0001/offer=authentication
URI.301 = vsomeip:0x1111:0x0001/offer=authentication
URI.302 = vsomeip:0x1122:0x0001/offer=authentication
URI.303 = vsomeip:0x1234:0x0001/offer=authentication
URI.304 = vsomeip:0x1235:0x0001/offer=authentication
URI.305 = vsomeip:0x1236:0x0001/offer=authentication
URI.306 = vsomeip:0x1237:0x0001/offer=authentication
URI.307 = vsomeip:0x1238:0x0001/offer=authentication
URI.308 = vsomeip:0x1239:0x0001/offer=authentication
URI.309 = vsomeip:0x2000:0x0001/offer=authentication
URI.310 = vsomeip:0x2222:0x0001/offer=authentication
URI.311 = vsomeip:0x3000:0x0001/offer=authentication
URI.312 = vsomeip:0x3333:0x0001/offer=authentication
URI.313 = vsomeip:0x3345:0x0001/offer=authentication
URI.314 = vsomeip:0x4000:0x0001/offer=authentication
URI.315 = vsomeip:0x4444:0x0001/offer=authentication
URI.316 = vsomeip:0x5000:0x0001/offer=authentication
URI.317 = vsomeip:0x5555:0x0001/offer=authentication
URI.318 = vsomeip:0x6000:0x0001/offer=authentication
URI.319 = vsomeip:0x6666:0x0001/offer=authentication
URI.320 = vsomeip:0x8888:0x0001/offer=authentication
URI.321 = vsomeip:0x9999:0x0001/offer=authentication
URI.322 = vsomeip:0x1234:0x5678/offer=authentication
URI.323 = vsomeip:0x1000:0x0001/offer=authentication
URI.324 = vsomeip:0x1111:0x0002/offer=authentication
URI.325 = vsomeip:0x1111:0x0003/offer=authentication
URI.326 = vsomeip:0x2222:0x0002/offer=authentication
URI.327 = vsomeip:0x2222:0x0003/offer=authentication
URI.328 = vsomeip:0x2223:0x0003/offer=authentication
URI.329 = vsomeip:0x2224:0x0004/offer=authentication
URI.330 = vsomeip:0xcafe:0x0001/offer=authentication

